body {
    font-family: Ariel, serif;
    background: url("../images/dungeon.png");
    color: Red;
    height: auto;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1,
h2 {
    font-size: 3em;
    font-weight: 300%;
    text-align: center;
}

h2 {
    font-size: 2em;
}

.directions {
    background-color: burgandy;
    color: White;
    padding: 1.5em;
}

p {
    padding: 2px;
}

.displayRandom,
.record,
#userScore {
    padding: 1em;
    margin: 10px 0 10px 0;
    width: 40%;
    min-width: 100px;
    height: 175px;
    border-radius: 10px;
    float: left;
    font-size: 1.55em;
    color: white;
}

.record {
    margin-left: 15px;
}

img {
    height: 200px;
    width: 200px;
}

#crystal1 {
    margin: 0.25em;
    border-radius: 10px;
}

#crystal2 {
    margin: 0.25em;
    border-radius: 10px;
}

#crystal3 {
    margin: 0.25em;
    border-radius: 10px;
}

#crystal4 {
    margin: 0.25em;
    border-radius: 10px;
}
